body{
    background-color: #F5F5F5;
    font-family: "Montserrat", sans-serif;
}

.sectionBg{
    background-color: #ffff;
}

@media (min-width: 769px) {
    .sidebar{
        width: 331px;
    }
}
.sideGap{
    padding: 0 12px;
}
.navbar-nav{
    align-items: center;
}
.nav-item{
    width: 100%; 
    height: 100%;
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    text-align: center;
    transition: .5s;
}
.nav-item:hover{
    
    background-color: #337AB7;
}
.bgP{
    background-color: #337AB7;
}
.nav-link{
    padding: 16px 0;
    margin: 0;
}
@media (max-width: 768px) {
    .nav-link{
        padding: 8px 0 ;
        margin: 0;
    }
}
.nav-link:hover{
    color: white;
}
.active{
    color: black;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
/* subnav */
.offcanvas{
    --bs-offcanvas-width: 60%;
}
.subnav-link{
    padding: 8px 16px;
}
.taxtp{
    font-size: 16px;
    margin-bottom: 8px;
}
.py_16px{
    padding: 16px 0;
}
.honor{
    color: #ff0000;
}

.book_img{
    width: 100%;
    height: 85%;
}
.text-justify{
    text-align: justify;
}

.imageSize{
    width: 126px;
    /* height: ; */
}
.fs14px{
    font-size: 14px;
}
.fs18px{
    font-size: 18px;
}